.enrolledcourse
{
  animation:my-animation 5s infinite alternate ;
  background-color: rgb(244, 246, 231);
  height: fit-content;
  min-height: 800px;
}


.container
{
  width: 600px;
  margin-left: 130px;
}

.left
{
  display:inline-block;
}


.button
{
  text-align: end;
}

.mylearnbutton
{
  background-color: #56aabc;
  color: white;
  padding: 4px;
  cursor: pointer;
  vertical-align: top;
  margin-right: 10px;
  border-radius: 4px;
  width: 108px;

}

.mylearnbutton:active{
  opacity: 0.4;
  background-color: rgb(5, 108, 121);
}

.mylearnbutton
:hover{
  opacity: 0.9;
}

.card-body
{
  margin-top: 8px;
  margin-bottom: 5px;
}

.card
{
  background-color: lightgrey;
  cursor: pointer;
}


.editbutton
{
  background-color:dodgerblue;
  color: white;
  padding: 4px;
  cursor: pointer;
  transition: opacity 0.15s;
  vertical-align: top;
  width: 60px;
  margin-right: 10px;
  border-radius: 4px;

}

.editbutton:hover{
  opacity: 0.9;
}


.deletebutton
{
  background-color:rgb(218, 68, 51);
  color: white;
  padding: 4px;
  cursor: pointer;
  vertical-align: top;
  width: 70px;
  margin-right: 10px;
  border-radius: 4px;
}

.deletebutton:hover{
  opacity: 0.9;
}


.statusbutton
{
  background-color:orange;
  color: white;
  padding: 4px;
  cursor: pointer;
  vertical-align: top;
  width: 70px;
  margin-right: 10px;
  border-radius: 4px;
}

.deletebutton:hover{
  opacity: 0.9;
}


ngb-rating
{
  color: rgb(236, 132, 41);
  font-size: 25px;
  vertical-align: top;
  margin-top: -6px;
  margin-left: 6px;
}

.right
{
  display:inline-block;
  vertical-align: top;
  margin-left: 100px;
}
