/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

::-webkit-scrollbar {
  width:8px;
}

::-webkit-scrollbar-track {
  /* background-color:black; */
}

::-webkit-scrollbar-thumb {
  background-color: rgb(170, 164, 164);
  border-radius: 1rem;
  /* border: 0.5rem solid transparent; */
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(135, 130, 130);
}
