.searchbtn
{
  background-color: rgb(58, 135, 58);
  color: white;
  border: none;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 8px;
  transition: opacity 0.15s;
  vertical-align: top;
  height: 38px;
}

.searchbtn:active{
  opacity: 0.4;
  background-color: #71b64f;
  color: rgb(12, 24, 3);
}

.searchbtn:hover{
  opacity: 0.9;
}

.search
{
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  height: 38px;
  align-items: center;
  vertical-align: top;
  width: auto;
  min-width: 250px;
  border-radius: 0;
}

ngb-rating
{
  color: rgb(236, 132, 41);
  font-size: 25px;
  vertical-align: top;
}

.institute
{
  background: linear-gradient(
    rgb(184, 234, 182),
    rgb(211, 236, 206),
    rgba(105, 217, 120, 0.303)
  );
  height: fit-content;
  min-height: 800px;
}

.searchbar
{
  text-align: center;
  margin-top: 10px;
}

.card-img-top
{
   width: 100%;
   height: 14vw;
   object-fit: cover
}

.card
{
  transition: all 0.25s;
  width:18rem;
  margin-top: 10px;
  cursor: pointer;
}


.cardsbutton
{
  background-color: #07641d;
}

.card:hover{
  transform: scale(1.07);
}

.star
{
  margin-top: 0px;
  margin-bottom: 0px;
  display: inline-block;
}

.icons
{
  vertical-align: top;
  display: inline-block;
  margin-left: 100px;
  padding-top: 7px;
  padding-left: 4px;
  font-size:large;
}

.card-body
{
  height: 115px;
}

.addButton
{
  background-color: rgb(58, 135, 58);
  margin: auto;
  border-radius: 10px;
  width: 160px;
  padding-left: 2px;
  padding-right: 2px;
  height: 45px;
  font-size: medium;
}

.addButtondiv
{
  margin: auto;
  text-align: right;
  padding-right: 14px;
  padding-bottom: 14px;
}
