/* *{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
} */

.search
{
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  height: 38px;
  align-items: center;
  vertical-align: top;
  width: auto;
  min-width: 250px;
}

.btn
{
  background-color: rgb(58, 135, 58);
  color: white;
  border: none;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 8px;
  transition: opacity 0.15s;
  vertical-align: top;
  height: 38px;
}

.searchbar
{
  text-align: center;
}

.std-table{
  border:2px solid rgb(255, 255, 255);
  border-spacing: 0 20px;
  width: 100%;
  margin-top: 10px;
  text-align: center;
  height: 5%;
}

td:nth-child(even),td:nth-child(odd) {
  background-color: rgb(202, 202, 202);
  height: 40px;
}

/* .heading{
  background-color: rgb(18, 77, 2);
  color: rgb(255, 255, 255);
  height: 40px;
} */

/* .actions{
  display: flex;
  justify-content: space-around;
} */

.del-btn .edit-btn{
  background-color: rgb(202, 202, 202);
  width:10%;
  cursor: pointer;
  border: 1px solid rgb(138, 138, 138);
}

.add-std{
  margin-left: 90%;
  padding: 7px;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  background-color: rgb(202, 202, 202);
  border: 1px solid rgb(202, 202, 202);
}

  .studentpage
  {
    height: fit-content;
    background: linear-gradient(
      rgb(184, 234, 182),
      rgb(211, 236, 206),
      rgba(105, 217, 120, 0.303)
    );
  }

.search
{
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  height: 38px;
  align-items: center;
  vertical-align: top;
  width: auto;
  min-width: 250px;
  border-radius: 0;
}

.searchbar
{
  margin-top: 15px;
  text-align: center;
  margin-bottom: 20px;
}

.btn:active{
  opacity: 0.4;
  background-color: #71b64f;
  color: rgb(12, 24, 3);
}

.btn:hover{
  opacity: 0.9;
}


.addstudent
{
  background-color: rgb(58, 135, 58);
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 1150px;
  transition: opacity 0.15s;
  vertical-align: top;
  height: 38px;
  margin-bottom: 15px;
}


.tablebar
{
  background-color: rgb(86, 152, 123);
}
